<main>
  <div class="m-5 text-center row">
    {{#each data}}
    {{#if this.poster_path}}
    <div class="col-md-3 mb-5 rounded">
      <a href="/movie/{{this.id}}">
        <img src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}" class="card-img-top w-75 rounded shadow-lg"
          alt="movie poster">
      </a>
    </div>
    {{/if}}
    {{/each}}
  </div>
  {{#if page}}
  <div class="text-center">
    <a href="/movie/page/{{page}}"><button class="btn btn-warning mx-auto m-5">Load More</button></a>
  </div>
  {{/if}}
</main>